@model AlivelyMVC.ViewModels.TaskViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border p-3 mt-4">
    <div class="row pb-2">
            <h2 class="text-primary">
                Edit Task
            </h2>
        </div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Uuid" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Objective" class="control-label"></label>
                <input asp-for="Objective" class="form-control" />
                <span asp-validation-for="Objective" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Relevance" class="control-label"></label>
                <input asp-for="Relevance" class="form-control" />
                <span asp-validation-for="Relevance" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Completed" /> @Html.DisplayNameFor(model => model.Completed)
                </label>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> &nbsp; Save</button>
                <a asp-action="Index" class="btn btn-primary"><i class="bi bi-arrow-return-left"></i> &nbsp; Back to List</a>

            </div>

        </form>
    </div>
</div>
</div>

    

